body, html {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 700px;
  transform: translate(-50%, -50%)
}


h1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, +100%);
  font-weight: normal;
	font-family: 'Ultra', sans-serif;
  text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}

#score-header {
  position: absolute;
  left: 50%;
  transform: translate(-50%, +450%);
  font-weight: 700;
	font-family: 'Ultra', sans-serif;
  text-transform: uppercase;
	
}

#start-button {
  position: absolute;
  left: 33%;
  top: 17%;
  background-color: black;
  color: white;
}

#reset-button {
  position: absolute;
  right: 33%;
  top: 17%;
  background-color: black;
  color: white;
}

.grid {
  width: 300px;
  height: 600px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  border: 3px solid ;
  border-image: linear-gradient(45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%) 1;
  

}
.grid div {
  height: 30px;
  width: 30px;
}



.tetromino {
  background-color: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  background-color: black ;
  position: absolute;
  top: 30%;
  left: 77%;
  border: 3px solid ;
  border-image: linear-gradient(45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%) 1;
}

.mini-grid div {
  height: 30px;
  width: 30px;
}

body {
  background-image: url("tetris-background.jpg");
  
}
